@import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.titulo {
    color: #111111;
    font-weight: bold;
    font-size: 32px;
    margin: 0 0 10px 0;
    padding-top: 117px;
    padding-left: 60px;
}

.sub-titulo {
    color: #000000;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    margin: 0 0 0 0;
    padding-left: 60px;
    padding-right: 115px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.layout {
    max-width: 75%;
    margin: 0 230px 50px;
    display: grid;
    grid-template-columns: 1fr;
}

.grid-logo-content {
    display: grid;
    grid-template-columns: 1fr;
}

.grid-header {
    text-align: justify;
    margin-left: 0;
    padding: 30px 0 30px 0;
    font-size: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.links {
    text-decoration: none;
    transition: 700ms;
}

.links:hover {
    color: brown;
}

.grid-home {
    text-align: justify;
    margin-left: 0;
    font-size: 16px;
    background-color: #fbdfdb;
    border-radius: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-chef {
    text-align: right;
}

.grid-chef img {
    padding-right: 100px;
    padding-top: 66px;
    
}

.grid-divisoria {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.grid-menu {
    padding: 20px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.grid-prato img {
    width: 100%;
    align-content: center;
    border-radius: 16px;
    gap: 25px;
}

.footer {
    background-color: #EEEEEE;
    padding: 23px;
    /* margin-left: 567px; */
    text-align: center;
    color: #999999;
    font-size: 14px;
}