{% extends 'user/layout.html' %}

{% block head %}
    <title>Recuperar senha | Foodfy</title>
{% endblock %}

{% block content %}

    <p>Esqueceu a senha?</p>
</div>

<form class="login-form" action="" method="post">
    <div class="sub-titulos-edit">
        <div class="rotulo">E-mail</div>
        <input 
            type="email" 
            name="email" 
            placeholder="Digite seu email para recuperar sua senha" 
            value="{{ user.email }}"
            onblur="Validate.apply(this, 'isEmail')"
        >
    </div>

    <div class="access-forgot">
        <button class="button" type="submit">Recuperar</button>
    </div>
</form>

{% endblock %}