{% extends 'admin/layout.html' %}

{% block head %}
    <title>Usuários | Admin | Foodfy</title>
{% endblock %}

{% block content %}
  <section class="links-titulo-admin">
    <div class="titulo-admin">
      <p>Listagem de Usuários</p>
    </div>
    <a href="/admin/user/criar">Novo</a>
  </section>

  <div class="list-users">
    {# {% for recipe in recipes %} #}
      <div class="admin-users" id="{{recipe.id}}">
        <div class="list-users-info">
          <h3>Rodrigo Emanuel</h3>
          <p>email@email.com.br</p>
          <div class="edit-user">
            <a href="/admin/recipes/recipe/{{recipe.id}}">Editar</a>
            <a href="/admin/recipes/recipe/{{recipe.id}}">Remover</a>
          </div>
        </div>
      </div>

      <div class="admin-users" id="{{recipe.id}}">
        <div class="list-users-info">
          <h3>Carla Simões</h3>
          <p>email@email.com.br</p>
          <div class="edit-user">
            <a href="/admin/recipes/recipe/{{recipe.id}}">Editar</a>
            <a href="/admin/recipes/recipe/{{recipe.id}}">Remover</a>
          </div>
        </div>
      </div>

      <div class="admin-users" id="{{recipe.id}}">
        <div class="list-users-info">
          <h3>Guilherme Bellintani da Silva Santos</h3>
          <p>email@email.com.br</p>
          <div class="edit-user">
            <a href="/admin/recipes/recipe/{{recipe.id}}">Editar</a>
            <a href="/admin/recipes/recipe/{{recipe.id}}">Remover</a>
          </div>
        </div>
      </div>

      <div class="admin-users" id="{{recipe.id}}">
        <div class="list-users-info">
          <h3>Paola Carossela da Argentina</h3>
          <p>email@email.com.br</p>
          <div class="edit-user">
            <a href="/admin/recipes/recipe/{{recipe.id}}">Editar</a>
            <a href="/admin/recipes/recipe/{{recipe.id}}">Remover</a>
          </div>
        </div>
      </div>

      <div class="admin-users" id="{{recipe.id}}">
        <div class="list-users-info">
          <h3>Guilherme Bellintani da Silva Santos</h3>
          <p>email@email.com.br</p>
          <div class="edit-user">
            <a href="/admin/recipes/recipe/{{recipe.id}}">Editar</a>
            <a href="/admin/recipes/recipe/{{recipe.id}}">Remover</a>
          </div>
        </div>
      </div>

      <div class="admin-users" id="{{recipe.id}}">
        <div class="list-users-info">
          <h3>Wall-e Simões</h3>
          <p>email@email.com.br</p>
          <div class="edit-user">
            <a href="/admin/recipes/recipe/{{recipe.id}}">Editar</a>
            <a href="/admin/recipes/recipe/{{recipe.id}}">Remover</a>
          </div>
        </div>
      </div>
    {# {% endfor %} #}

    {# {% for recipe in recipes %}
      <div class="admin-receita" id="{{recipe.id}}">
        <div class="list-info">
          <h3>{{recipe.title}}</h3>
          <p>{{recipe.chef_name}}</p>
          <a href="/admin/recipes/recipe/{{recipe.id}}">Visualizar</a>
        </div>
      </div>
    {% endfor %} #}
  </div>
{% endblock %}