{% extends 'admin/layout.html' %}

{% block head %}
    <title>Usuários | Admin | Foodfy</title>
{% endblock %}

{% block content %}
  <section class="links-titulo-admin">
    <div class="titulo-admin">
      <p>Listagem de Usuários</p>
    </div>
    <a href="/admin/recipes/criar">Novo</a>
  </section>

<div class="list-receitas">
    {% for recipe in recipes %}
      <div class="admin-receita" id="{{recipe.id}}">
        <div class="list-info">
          <h3>{{recipe.title}}</h3>
          <p>{{recipe.chef_name}}</p>
          <a href="/admin/recipes/recipe/{{recipe.id}}">Visualizar</a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}