{% extends "user/layout.html" %}

{% block content %}
    <div class="centro">
        <div class="texto">
            <h1>As melhores receitas</h1>
            <p>Aprensa a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
        </div>
        <div class="mascote">
            <img src="/chef.png" alt="">
        </div>
    </div>

    <div class="popular">
        <p>Mais acessadas</p>
    </div>

    <div class="pratos">
        {% for recipe in recipes %} 
            <div class="receita" id="{{recipe.image}}">            
                <img id="imgRotulo" style="background-image: url('{{recipe.img if recipe.img else '//placehold.it/100x100?text=Sem imagem'}}')" onclick="modal()">
                <h3>{{recipe.title}}</h3>
                <p>{{recipe.chef_name}}</p>
            </div>
        {% endfor %}
    </div>

    <!-- MODAL -->
    <div class="modal">
        <div class="modal-on">
            <div class="image-modal">
                <img src="" frameborder="0" alt="">
            </div>
            <div>
                <h3></h3>
                <p></p>
                <button class="close">Fechar</button>
            </div>
        </div>
    </div>
{% endblock %}