<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head %}
        <title>Login | Foodfy</title>
    {% endblock %}
    
    <link rel="icon" href="/favicon.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    {% block styles %}        
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/user.css">
    {% endblock %}
</head>
<body>
    <div class="container">
        <div class="header">
            <div>
                <a href="/"><img src="/logo.png" alt="Logo foodFy"></a>
            </div>

            <div class="links">
                <a href="/sobre">Sobre</a>
            </div>
        </div>
        {# {% block content %}{% endblock %} #}
    </div>

    {% include 'visit/parts/footer.html' %}

    <script src="/scripts/scripts.js"></script>
    <script src="/scripts/uploadImageScripts.js"></script>
</body>
</html>