<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head %}
        <title>Alterar senha | Foodfy</title>
    {% endblock %}
    
    <link rel="icon" href="/favicon.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    {% block styles %}
        <link rel="stylesheet" href="/styles/users.css">
    {% endblock %}
</head>
<body>
    <div class="container">
        <div class="login-logo">
            <a href="/">
                <img src="/logo.png" alt="Logo foodFy">
            </a>
            <p>Nova senha</p>
        </div>

        <form class="login-form" action="" method="post">
            <div class="sub-titulos-edit">
                <div class="rotulo">E-mail</div>
                <input 
                    type="email" 
                    name="email" 
                    placeholder="Digite seu e-mail" 
                    value="{{ user.email }}"
                    onblur="Validate.apply(this, 'isEmail')"
                >
            </div>

            <div class="sub-titulos-edit">
                <div class="rotulo">Nova senha</div>
                <input 
                    type="password" 
                    name="password" 
                    placeholder="Digite sua senha" 
                    value="{{ user.email }}"
                    onblur="Validate.apply(this, 'isEmail')"
                >
            </div>

            <div class="sub-titulos-edit">
                <div class="rotulo">Repetir senha</div>
                <input 
                    type="password" 
                    name="passwordRepeat" 
                    placeholder="Digite sua senha" 
                    value="{{ user.email }}"
                    onblur="Validate.apply(this, 'isEmail')"
                >
            </div>

            <div class="access">
                <button class="button" type="submit">Nova senha</button>
            </div>
        </form>

        {# {% block content %}{% endblock %} #}
    </div>

    <script src="/scripts/scripts.js"></script>
    <script src="/scripts/uploadImageScripts.js"></script>
</body>
</html>