{% extends "user/layout.html" %}

{% block head %}
    <title>{{recipe.title}} | Receitas FoodFy</title>
{% endblock %}

{% block content %}
    <div class="prato-centro">
        <img src="{{files[0].src}}" alt="Imagem do prato {{files[0].name}}">
    </div>
    
    <div class="prato-titulo">
        <h3>{{recipe.title}}</h3>
        <p>{{recipe.author}}</p>
    </div>

    <div class="showHide">
        <div class="sub-titulos">
            <div class="grid-ing">
                <h3>Ingredientes</h3>
                <h4>ESCONDER</h4>
            </div>
        </div>
        <div id="ingredientes" class="conteudo-text">
            <ul>
                {% for ingredient in recipe.ingredients %}
                    <li>{{ingredient}}</li>
                {% endfor %}

            </ul>
        </div>
    </div>

    <div class="showHide">
        <div class="sub-titulos">
            <div class="grid-preparo">
                <h3>Modo de preparo</h3>
                <h4>ESCONDER</h4>
            </div>
        </div>
        <div id="preparo" class="conteudo-text">
            <ul>
                {% for preparation1 in recipe.preparation %}
                    <li>{{preparation1}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="showHide">
        <div class="sub-titulos">
            <div class="grid-info">
                <h3>Informações adicionais</h3>
                <h4>ESCONDER</h4>
            </div>
        </div>
            <div id="infoAd" class="conteudo-text">
            <p>{{recipe.information}}</p>
        </div>
    </div>

    <div class="desde">
        <p>
            Criado em: {{recipe.created_at}} 
            {% if recipe.created_at != recipe.updated_at %}
                / Atualiado em: {{recipe.updated_at}}
            {% endif %}
        </p>
    </div>
{% endblock %}