@import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.titulo {
    color: #111111;
    font-weight: bold;
    font-size: 32px;
    margin: 0 0 10px 0;
    padding-top: 117px;
    padding-left: 60px;
}

.sub-titulo {
    color: #000000;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    margin: 0 0 0 0;
    padding-left: 60px;
    padding-right: 115px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.layout {
    max-width: 75%;
    margin: 0 280px 50px;
    display: grid;
    grid-template-columns: 1fr;
}

.layout-find {
    max-width: 75%;
    margin: auto 0;
    display: grid;
    grid-template-columns: 1fr;
}

.grid-logo-content {
    height: 25px;
    width: 400px;
    display: grid;
    grid-template-columns: 1fr;
}

.grid-logo-content-find {
    width: 400px;
    display: grid;
    grid-template-columns: 1fr;
}

.grid-header {
    text-align: justify;
    margin-left: 0;
    padding: 31px 0 50px 0;
    font-size: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.links {
    text-decoration: none;
    transition: 700ms;
}

.links a {
    color: #111111;
    text-decoration: none;
    transition: 400ms;
}

.links a:hover {
    color: red;
}

.grid-home {
    height: 366px;
    text-align: justify;
    margin-left: 0;
    font-size: 16px;
    background-color: #fbdfdb;
    border-radius: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-home-receita {
    height: 294px;
    max-height: 189px;
    max-width: 1100px;
    text-align: justify;
    margin-left: 250px;
    margin-right: 250px;
    font-size: 16px;
    border-radius: 16px;
    display: grid;
    grid-template-columns: 1fr;
    background-image: url(/burger.png);
    width: 600px;
}

.grid-chef {
    text-align: right;
}

.grid-chef-receita {
    text-align: center;
    position: relative;
}

.grid-chef img {
    padding-right: 100px;
    padding-top: 66px;
}

.grid-chef-receita img {
    padding-right: 100px;
    width: 57%;
    padding-top: 0px;
    
}

.grid-divisoria {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.grid-divisoria-modal {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.grid-divisoria-receita {
    margin-top: 25px;
    margin-bottom: 0px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.grid-divisoria-lista1 {
    margin-top: 25px;
    margin-bottom: 0px;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

.grid-divisoria-sobre {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.grid-divisoria-prato {
    width: 600px;
    text-align: center;
}

.grid-divisoria-content {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    text-align: left;
    color: #444444;
    line-height: 28px;
}

.grid-divisoria-sub-content {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.grid-divisoria-sub-content-receita {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
}

.grid-divisoria-sub-content-lista1 {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: left;
}

.grid-divisoria-sub-content-ul {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
    padding-top: 5px;
}

.grid-menu {
    padding: 20px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.grid-menu-receita {
    padding: 20px 0 0 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.grid-prato {
    cursor: pointer;
}

.grid-prato img {
    width: 100%;
    align-content: center;
    border-radius: 16px;
    gap: 25px;
}

.legendas h4 {
    color: #111111;
    font-size: 18px;
    margin: 20px 0 5px 0;
}

.sub-legendas p {
    color: #777777;
    font-size: 14px;
    margin: 5px 0 10px 0;
}

.legendas-modal h4 {
    color: #111111;
    text-align: center;
    font-size: 24px;
}

.sub-legendas-modal p {
    color: #777777;
    text-align: center;
    font-size: 14px;
    margin: 5px 0 45px 0;
}

.fechar-modal {
    text-align: center;
}

.fechar-modal a {
    color: #777777;
    font-size: 14px;
    margin: 5px 0 10px 0;
    text-decoration: none;
}

.image-modal {
    text-align: center;
    border-radius: 20px;
    margin-top: 30px;
    height: 300px;
}

.image-modal iframe {
    border-radius: 20px;
}

.footer {
    background-color: #EEEEEE;
    padding: 23px;
    text-align: center;
    color: #999999;
    font-size: 14px;
}

/* MODAL */

.modal-menu {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0px;
    opacity: 0;
    visibility: hidden;
}

.modal-on {
    background-color: white;
    width: 645px;
    height: 450px;
    position: fixed;
    top: 90px;
    left: 500px;
    border-radius: 20px;
}

.modal-menu.active {
    opacity: 1;
    visibility: visible;
}

iframe {
    width: 93%;
    height: 280px;
    right: 0px;
    left: -2px;
    position: relative;
    top: 5%;
}