{% extends 'admin/layout.njk' %}

{% block content %}

    <section class="links-titulo-admin">
        <div class="titulo-admin">
            <p>Gerenciar receitas</p>
        </div>
        <a href="/admin/recipes/criar">Novo</a>
    </section>

    <div class="list-receitas">

        {% for recipe in recipes %}
            <div class="admin-receita" id="{{recipe.id}}">
                <img
                    style="background-image: url('{{recipe.img if recipe.img else '//placehold.it/100x100?text=Sem imagem'}}')"
                    
                    > {# src="{{files[0].src}}" alt="Imagem da receita {{recipe.image}}" recipe.image#}
                <div class="list-info">
                    <h3>{{recipe.title}}</h3>
                    <p>{{recipe.chef_name}}</p>
                    <a href="/admin/recipes/prato/{{recipe.id}}">Visualizar</a>
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}