<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head %}
        <title>Admin | Receitas | Foodfy</title>
    {% endblock %}

    <link rel="icon" href="/favicon.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    {% block styles %}
        <link rel="stylesheet" href="/styles/images.css">
        <link rel="stylesheet" href="/styles/admin.css">
    {% endblock %}
</head>
<body>
    {% include 'parts/messages.html' %}

    <div class="header-admin">
        <div class="container-header-admin">
            <div class="logoAdmin">
                <a href="/"><img src="/logoadmin.png" alt="Logo foodFy"></a>    
            </div>
            
            <div class="linksAdmin">
                <a href="/admin/recipes">Receitas</a>
                <a href="/admin/chefs">Chefs</a>
                <a href="/admin/users">Usuários</a>
            </div>            
        </div>
    </div>

    <div class="container-admin">
        {% block content %}{% endblock %}
    </div>

    <script src="/scripts/scripts.js"></script>
    <script src="/scripts/adminScripts.js"></script>
    <script src="/scripts/uploadImageScripts.js"></script>
</body>
</html>