{% extends 'login/layout.html' %}

{% block head %}
    <title>Alterar senha | Foodfy</title>
{% endblock %}

{% block content %}
        <p>Nova senha</p>
    </div>

    <form class="login-form" action="/login/new-password" method="post">
        <div class="sub-titulos-edit">
            <div class="rotulo">E-mail</div>
            <input 
                id="email"
                type="email" 
                name="email" 
                placeholder="Digite seu e-mail" 
                value="{{ user.email }}"
                onblur="Validate.apply(this, 'isEmail')"
            >
        </div>

        <div class="sub-titulos-edit">
            <div class="rotulo">Nova senha</div>
            <input 
                type="password" 
                name="password" 
                placeholder="Digite a nova senha"
            >
        </div>

        <div class="sub-titulos-edit">
            <div class="rotulo">Repetir senha</div>
            <input 
                type="password" 
                name="passwordRepeat" 
                placeholder="Repita a nova senha"
            >
        </div>

        <div class="access-forgot">
            <button class="button" type="submit">Nova senha</button>
        </div>

        <input type="hidden" name="token" value="{{ token }}">
    </form>

    <script>
        window.onload = function() {
            document.getElementById('email').focus();
        }
    </script>

{% endblock %}