{% extends "admin/layout.njk" %}

{% block head %}
    <title>{{chef.name}} | Admin</title>
{% endblock %}

{% block content %}

    <div class="container-header-exibe-prato">
        <div>
            <h3>Chef: {{chef.name}}</h3>
            <a href="/admin/chefs/chef/{{ chef.id }}/editar">Editar Chef</a>
        </div>
        
    </div>

    <div class="chef-centro">
        <img src="{{chef.avatar_url}}" alt="Imagem do Chef {{chef.avatar_url}}">
    </div>
    
    <div class="prato-titulo">
        <h3>{{chef.name}}</h3>
        <p>{{chef.total_recipes}}
            {% if chef.total_recipes > 1 %}
                 receitas
                 {% else %} receita{% endif %}</p>
    </div>
    
    <div class="showHide">
        <div class="sub-titulos">
            <div class="grid-info">
                <h3>Receitas</h3>
            </div>
        </div>

        <div class="receitas-chef" id="infoAd">            
            {% for recipe in recipes %}
                <div class="admin-receita" id="{{recipe.id}}">
                    <img src="{{recipe.image}}" alt="">
                    <div class="list-info">
                        <h3>{{recipe.title}}</h3>
                        <p>{{recipe.chef_name}}</p>
                        <a href="/admin/prato/{{recipe.id}}">Visualizar</a>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

    <div class="desde">
        <p>Cadastrado em: {{chef.created_at}}</p>
    </div>

{% endblock %}