{% extends "admin/layout.njk" %}

{% block content %}

<form class="card" method="POST" action="/admin/chefs">
    <section class="details">
        <h3>Criando Chef</h3>

        {% include 'admin/chefs/campos.njk' %}

        <button type="submit">Salvar</button>
    </section>
</form>

{% endblock %}