{% extends 'admin/layout.html' %}

{% block content %}
    <section class="links-titulo-admin-chefs">
        <div class="titulo-admin">
            <p>Gerenciar Chefs</p>
        </div>
        <a href="/admin/chefs/criar">Novo</a>
    </section>

    <div class="list-chefs">
        {% for chef in chefs %}
            <div class="admin-chefs" id="{{chef.id}}">
                <img
                style="background-image: url('{{chef.img if chef.img else '//placehold.it/75x75?text=Sem imagem'}}')">
                <div class="list-info-chefs">                    
                    <h3>{{chef.name}}</h3>
                    {% if chef.total_recipes == 0 %}
                        <p>Nenhuma receita</p>
                    {% else %}
                        <p>{{chef.total_recipes}}
                            {% if chef.total_recipes > 1 %}
                                receitas
                            {% else %}
                                receita                        
                            {% endif %}
                        </p>
                    {% endif %}
                    <a href="/admin/chefs/chef/{{chef.id}}">Visualizar</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}