{% extends 'admin/layout.njk' %}

{% block content %}

    <section class="links-titulo-admin-chefs">
        <div class="titulo-admin">
            <p>Gerenciar Chefs</p>
        </div>
        <a href="/admin/chefs/criar">Novo</a>
    </section>

    <div class="list-chefs">

        {% for chef in chefs %}
            <div class="admin-chefs" id="{{chef.id}}">
                <img src="{{chef.avatar_url}}" alt="Imagem do Chef {{chef.avatar_url}}">
                <div class="list-info-chefs">
                    <h3>{{chef.name}}</h3>
                    <a href="/admin/chefs/chef/{{chef.id}}">Visualizar</a>
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}