{% extends 'frontend/layout.njk' %}

{% block content %}

    <div class="list-chefs-front">
        {% for chef in chefs %}
            <div class="admin-chefs" id="{{chef.id}}">
                <img src="{{chef.avatar_url}}" alt="">
                <div class="list-info-chefs">
                    <h3>{{chef.name}}</h3>
                    <p>{{chef.total_recipes}} {% if chef.total_recipes > 1 %} receitas {% else %} receita {% endif %} </p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}