* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Helvetica;
}

html, body {    
    min-height: 100vh;
}

body {
    
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    max-width: 940px;
    min-height: 100%;
    margin: 0 auto 50px auto;
    background-color: white;
}

.titulo-busca span {
    color: crimson;
    font-size: 24x;
    font-style: italic;
}

.nav-link {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.list-chefs-front {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 30px;
    margin-top: 10px;
}

.centro {
    width: 100%;
    height: 366px;
    background-color: #FBDFBD;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 30px;
    margin: 0px 0px 50px 0px;
    padding: 0;
}

.texto {
    margin: 117px auto auto 60px;
    padding: 0px;
}

.texto h1 {
    font-size: 32px;
    color: #111111;
}

.texto p {
    font-size: 18px;
    color: #000000;
    line-height: 28px;
}

.mascote{
    width: 216px;
    height: 300px;
    margin: 65px auto 0px 157px;
}

.popular {
    margin: 0px 0px 20px 0px;
    color: #111111;
    font-size: 24px;
    font-weight: bold;
}

.pratos {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 20px;
    margin: 20px 0 0 0;
}

.receita img {
    max-width: 100%;
    width: 307px;
    height: 140px;
    background-size: cover;
    background-position: center center;
    border-radius: 20px;
}

.receita img:hover {
    cursor: pointer;
}

.receita h3 {
    color: #111111;
    
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.receita p {
    color: #777777;
    
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 0 0;
}

.content {
    color: #444444;
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
    margin: 20px 0;
}

.sub_content p {
    color: #111111;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
}

/* DESCRIÇÃO PRATO */

.prato-centro {
    width: 940px;
    height: 200px;
    background-color: #FBDFBD;
    border-radius: 30px;
    margin: 0;
    padding: 0;
}

.prato-centro img {
    width: 940px;
    height: 200px;
    border-radius: 30px;
    max-width: 100%;
    object-fit: cover;
    cursor: zoom-in;
}

.prato-titulo h3 {
    color: #111111;
    font-size: 32px;
    font-weight: bold;
    line-height: 42px;
    text-align: center;
    padding: 0;
}

.prato-titulo p {
    color: #777777;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding: 0;
    margin: 4px 0px 0px 0px;
}

.sub-titulos {
    margin: 15px 0;
}

.grid-ing {    
    display: grid;
    grid-template-columns: 145px 1fr;
}

.grid-preparo {
    display: grid;
    grid-template-columns: 197px 1fr;
}

.grid-info {
    display: grid;
    grid-template-columns: 269px 1fr;
}

.sub-titulos h3 {
    color: #111111;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    margin: 0;
    padding: 0;
    
}

.sub-titulos h4 {
    color: #999999;
    font-size: 11px;
    line-height: 14px;
    padding: 0;
    margin: 10px 0 0 0;
}

.sub-titulos h4:hover {
    cursor: pointer;
}

.conteudo-text {
    color: #444444;
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
    margin: 20px 0px 25px 0px;
}

.conteudo-text ul {
    margin-left: 2%;
}

.infos {
    color: #444444;
    text-align: center;
    font-weight: bold;
    line-height: 28px;
    padding: 20px 0 100px 0;
}

.infos img {
    width: 10%;
}

.desde {
    display: flex;
    justify-content: flex-end;
    font-size: smaller;
}

/* ==== ADMIN ==== */

.admin {
    margin: 25.1px 0px 0px 292px;
    border: 0px solid #555;
    padding: 0 0px 0px 0px;
}

.admin h4 {
    width: 100%;
    margin: 0px 0px 0px 0px;
    border-radius: 20px;
    color: #111111;
    padding: 0;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.admin p {
    width: 100%;
    margin: 5px 0px 5px 0px;
    background-color: #6558C3;
    border-radius: 20px;
    color: white;
    padding: 5px 0 5px 0;
    text-align: center;
    font-size: 14px;
}

.admin a {
    text-decoration: none;
    padding: 0;
}

.linksAdmin {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
}

.linksAdmin a {
    font-size: 15px;
    color: #999999;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 30px 0 0;
}

.linksAdmin a.active {
    font-weight: bold;
    color: white;
}

.linksAdmin a:hover {
    transition: 700ms;
    cursor: pointer;
    color: red;
}

.grid-link-menu {
    display: grid;
    grid-template-columns: 100px 100px 100px;
}

.container-admin {
    width: 100%;
    max-width: 940px;    
    margin: 50px auto 20px auto;
    background-color: white;
}

.header-admin {
    display: flex;
    justify-content: space-between;
    background-color: #111111;
    height: 80px;
    color: white;
    padding: 0;
    margin: 0;
}

.link-sair {
    position: fixed;
    right: 50px;
}

.container-header-admin {
    width: 940px;
    margin: auto;
    display: grid;
    grid-template-columns: 150.4px 1fr;
    align-items: center;
}

.container-header-admin div img {
    width: 90.6px;
    height: 26.9px;
    margin: 27px 0 26.1px 0px;
}

.titulo-admin {
    color: #111111;
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
}

.list-receitas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 30px 0 0 0;
}

.admin-receita {
    display: flex;
    align-items: center;
    margin: 0;
}

.admin-receita img {
    width: 172px;
    height: 80px;
    margin-right: 20px;
    border-radius: 10px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: cover;
}

.list-info h3 {
    color: #111111;
    font-size: 18px;
    line-height: 21px;
}

.list-info p {
    color: #777777;
    font-size: 14px;
    line-height: 16px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.list-info a {
    text-decoration: none;
    color: #6558c3;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    margin: 0;
}

/* EDITAR RECEITA */

.container-header-exibe-prato div {
    display: flex;
    justify-content: space-between;
    margin: 0px 0 10px 0; 
}

.container-header-exibe-prato h3 {
    color: #111111;
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    margin: 5px 0 5px 0;
}

button, .container-header-exibe-prato a, .links-titulo-admin a, .links-titulo-admin-chefs a,
.container-header-prato div a {
    width: 139px;
    height: 37px;
    text-align: center;
    color: #FFFFFF;
    background-color: #6558c3;
    padding: 10px 10px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    outline: none;
}

.container-header-prato div {
    display: flex;
    justify-content: space-between;
    margin: 0px 0 26px 0; 
}

.container-header-prato div h3 {
    font-size: 24px;
}

.links-titulo-admin-chefs {
    display: flex;
    justify-content: space-between;
    margin: 0 0 30px 0;
}

.list-chefs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 30px;
    margin: 30px 0 0 0;
}

.admin-chefs {
    display: grid;
    grid-template-columns: 84px 1fr;
    margin: 0;
    align-items: center;
}

.admin-chefs img {
    width: 64px;
    height: 64px;
    margin: 0 20px 0 0;
    border-radius: 50%;
    background-size: cover;
    object-fit: cover;
}

.list-info-chefs h3 {
    
    font-size: 18px;
    font-weight: normal;
    color: #111111;
    line-height: 21px;
    margin: 0 0 5px 0;
}

.list-info-chefs p {
    font-size: 14px;
    color: #666666;
}

.list-info-chefs a{
    text-decoration: none;
    color: #6558c3;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    margin: 0;
}

.container-header-prato div form button {
    background-color: #dc4747;
    color: #FFFFFF;
    margin: 0 10px 0 0;
}

.div-container-header-prato {
    display: flex;
    margin: 0px;
}

.div-container-header-prato form {
    margin: 0 2px;
}

.sub-titulos-edit {
    color: #111111;
    font-size: 16px;
    font-weight: bold;
    line-height: 28px;
    margin: 0;
    padding: 0;

    position: relative;
}

/* ==== USERS ==== */

.list-users {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1px;
    row-gap: 52px;
    margin: 64px 0 0 0;
}

.admin-users {
    display: grid;
    align-items: center;
    margin: 0;
    grid-template-columns: 1fr;
}

.list-users-info h3 {
    color: #111111;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}

.list-users-info p {
    color: #777777;
    font-size: 14px;
    line-height: 16px;
    margin-top: 4px;
    margin-bottom: 16px;
}

.edit-user {
    display: flow-root;
    align-items: center;
}

.edit-user a:first-child {
    text-decoration: none;
    color: #6558c3;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    margin: 0 5px 0 0;
}

.remove-user-button {
    text-decoration: none;
    color: #F55A5A;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    margin: 0;
    background-color: white;
    padding: 0;
    width: 0;
    height: 0;
}

/* .edit-user a:last-child {
    text-decoration: none;
    color: #F55A5A;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    margin: 0;
} */

/* ==== NOVO USER ==== */

.container-header-button-user {
    display: flex;
    margin: 0;
}

.container-header-button-user form {
    margin: 0 2px;
}

#new-user, #cancelar {
    width: 139px;
    height: 37px;
    text-align: center;
    color: #FFFFFF;
    background-color: #6558c3;
    padding: 10px 10px;
    margin: 0 0 0 16px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    outline: none;
}

#cancelar {
    background-color: #8A8A8A;
}

.rotulo-user {
    margin: 0 0 10px 0;
}

.chk-user {
    width: 15px;
    height: 15px;
    margin: 0 8px 0 0;
}

#salva_user {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 64px 0 0 0;
    column-gap: 40px;
    row-gap: 36px;
}

/* CAMPOS DE DADOS */

.rotulo {
    margin: 30px 0 10px 0;
}

#ingrediente, .preparo {
    display: grid;
    grid-template-columns: 90% 10%;
    align-items: center;
    justify-items: end;
    margin: 0 0 10px 0;
}

.add-ingredient, .add-preparo {
    background-color: white;
    color: #6558C3;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    width: auto;
}

button, .add-ingredient, .add-preparo:hover {
    cursor: pointer;
    outline: none;
}

.delete-user-button {
    background-color: #dc4747;
}

.del-ingredient {
    background-color: white;
    color: #6558C3;
    font-size: 14px;
    line-height: 19px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    width: auto;
}

.del-preparo {
    background-color: white;
    color: #6558C3;
    font-size: 14px;
    line-height: 19px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    width: auto;
}

input, select {
    width: 100%;
    height: 49px;
    outline: none;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin: 0;
    padding: 0 10px;
    font-size: 16px;
    line-height: 19px;
    color: #111111;
}

option {
    font-size: 16px;
    font-weight: bold;
}

textarea {
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    width: 100%;
    margin: 0 0 15px 0px;
    resize: none;
    font-size: 16px;
    font-family: roboto;
    outline: none;
    padding: 18px 20px 0 20px;
}

.links-titulo-admin {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.details h3 {
    font-size: 24px;
    margin: 0;
}

.desde {
    display: flex;
    justify-content: flex-end;
    font-size: smaller;
}