/* ==== PHOTOS RECIPES UPLOAD ==== */

.images-load {
    display: grid;
    grid-template-columns: 149px 1fr;
    grid-template-rows: 149px;
    align-items: center;
    justify-content: end;
    gap: 5px;
    height: 149px;
    margin: 10px 0 30px 0;
}

#photos-upload {
    position: relative;
    display: block;
    overflow: hidden;
    height: 100%;
}

#photos-upload .div-material-icons {
    margin: -4px 0 0 0;
}

#photos-upload .div-material-icons i {
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    box-shadow: 0 2px 2px -6px #333;
    color: black;
    width: 149px;
    height: 149px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
}

.input-photo {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    margin: 0;
    cursor: pointer;
}

/* VISUALIZAÇÃO DAS IMAGENS CARREGADAS */

#photos-preview {
    display: flex;
    gap: 10px;
    height: 100%;
}

#photos-preview .photo {
    position: relative;
}

#photos-preview .photo i {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.8);
    width: 100%;
    height: 100%;
    color: #FF0000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 200ms;
    opacity: 0;
}

#photos-preview .photo:hover i {
    opacity: 1;
}

#photos-preview .photo img {
    width: 149px;
    height: 149px;
    border-radius: 4px;
}

.display-images {
    display: grid;
    grid-template-columns: 1fr;
}

.display-preview {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin: 8px 0 0 0;
}

.display-preview img {
    width: 50px;
    height: 50px;
    border-radius: 3.5px;
    border: 1px solid #DDDDDD;
}

/* ==== PHOTO CHEFS UPLOAD ==== */