.error {
  color: #dc4747;
  font-size: 16px;
  position: absolute;
  top: 90px;
  left: auto;
  z-index: 1;
  padding: 0;
}

@keyframes hidemessage {
  to {
      top: -50px;
      opacity: 0;
  }
}

.messages {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 4px;
  position: absolute;
  width: 344px;
  height: 135px;
  color: white;
  font-weight: bold;
  top: 12px;
  right: 18px;
  opacity: 1;
  transition: 500ms;

  animation: hidemessage 400ms 5s ease-out forwards;
}

.messages.error {
  background-color: #dc4747;
  text-align: center;
}

.messages.success {
  background-color: #01B12A;
  text-align: center;
  z-index: 1;
}

.menu-user {
  position: absolute;
  top: 33px;
  right: 50px;
  width: 200px;
  height: 0;
  list-style: none;
}

.menu-user p {
  text-align: center;
  text-transform: uppercase;
}

.menu-user p:hover {
  cursor: pointer;
}

.menu-user .full-menu {
  background-color: #111111;
  padding: 5px 0px;
  border: 2px solid #FBDFBD;
  border-radius: 5px;
  position: relative;
  top: 0;
  text-align: center;
  opacity: 0;
  visibility: hidden;
}

.menu-user:hover .full-menu {
  opacity: 1;
  visibility: initial;
}

.full-menu {
  text-align: center;
}

.full-menu li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.full-menu li:hover {
  cursor: pointer;
  color: #111111;
  background-color: #FBDFBD;
}

.full-menu li a {
  font-size: 16px;
  color: white;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.full-menu li a:hover {
  cursor: pointer;
  color: #111111;
  background-color: #FBDFBD;
}

.form-logout button {
  width: 100%;
  height: auto;
  background-color: #111111;
  padding: 0;
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
}

.form-logout button:hover {
  cursor: pointer;
  color: #111111;
  background-color: #FBDFBD;
}