.busca-search {
  display: grid;
  grid-template-columns: 25% 1fr;
}

.div-list-recipes {
  margin: 20px 10px 0 0;
  font-size: 18px;
}

.titulo-busca {
  color: #111111;
  font-size: 24px;
  line-height: 28px;
  margin: 5px 0 5px 0;
}

.sub-titulo-busca {
  margin: 0 0 10px 0;
  font-weight: bold;
  font-size: 17px;
  color: #444444;
}

.chefs-recipes {
  color: #444444;
  font-size: 18px;
  line-height: 28px;
}

.chefs-recipes h2 {
  font-size: 17px;
  margin: 20px 0 0 0;
}

.chefs-recipes ul {
  list-style-position: inside;
}

.chefs-recipes a {
  text-decoration: none;
  color: #444444;
}

.chefs-recipes a:hover {
  font-weight: bold;
  color: red;
  text-decoration: underline;
}