{% extends "layoutFF.njk" %}

{% block content %}

<div class="grid-home">
    <div>
        <p class="titulo">
            As melhores receitas
        </p>
        <p class="sub-titulo">
            Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
        </p>
    </div>
    <div class="grid-chef">
        <img src="/chef.png" alt="">
    </div>
    
</div>

<div class="grid-divisoria">
    <p>Mais acessadas</p>
</div>

<div class="grid-menu legendas sub-legendas">
    {% for item in items %}
    <div class="grid-prato" id="{{item.id}}">
        <img src="/{{item.id}}.png" alt="">
        <h4>{{item.title}}</h4>
        <p>{{item.author}}</p>
    </div>
    {% endfor %}
</div>

<div class="modal-menu">
    <div class="modal-on">
        <div class="image-modal">
            <iframe src="" frameborder="0"></iframe>
        </div>

        <div class="grid-divisoria-modal">
            <p name="author"></p>
        </div>

        <div class="fechar-modal">
            <a href="">Fechar</a>
        </div>
    </div>
</div>
<script src="/scripts.js"></script>

{% endblock %}
