<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodFy</title>
    <link rel="stylesheet" href="/styleFood.css">
</head>
<body>
    <section class="layout">

        <div class="grid-header">
            <div class="grid-logo-content">
                <a href="/"><img src="/logo.png" alt="FoodFy"></a>                
            </div>

            <div class="links">
                <a href="/sobre">Sobre</a>
                <a href="/receitas">Receitas</a>
            </div>
        </div>

        {% block content %}{% endblock %}

    </section>
    
    <div class="footer">
        <p>Todos os direitos reservados, receitas FoodFy</p>
        <div class="list-redes">
        <div>
            <h4><strong>Redes Sociais</strong></h4>
        </div>
        <ul>
            <li>Facebook</li>
            <li>Instagram</li>
            <li>Pinerest</li>
        </ul>
            
        </div>
        <div>
            <p><strong>Contato</strong></p>    
        </div>
        
    </div>

</body>
</html>
