{% extends "layoutFF.njk" %}

{% block head %}

<title>Página não encontrada | Rodrigo Emanuel</title>

{% endblock %}

{% block content %}

<div id="infos">
    <h1>PÁGINA NÃO ENCONTRADA</h1>
</div>

{% endblock %}
