<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hambueger | FoodFy</title>
    <link rel="stylesheet" href="/styleFood.css">
</head>
<body>
    <section class="layout-find">

        <div class="grid-divisoria-prato">
            <div class="grid-logo-content-find">
				<img src="/burger.png" alt="FoodFy">
            </div>

        </div>

        <div class="grid-divisoria-prato">
            <p>Hamburger bacon burger</p>
        </div>

        <div class="grid-divisoria-prato">
            <p>
                por Jorge Relato
            </p>

            <p>
                
            </p>
        </div>

    </section>


</body>
</html>
