{% extends "layoutFF.njk" %}

{% block content %}
{# {% for item in items %} #}

    <div class="grid-prato-rec" id="{{item.id}}">
        <img src="{{item.image}}" alt="{{item.title}}">  
    </div>

    <div class="grid-divisoria-receita">
        <p>{{item.title}}</p>
    </div>

    <div class="grid-divisoria-sub-content-receita">
        <p>{{item.author}}</p>
    </div>

        <div class="grid-divisoria-lista1">
            <p>Ingredientes</p>
        </div>

        <div class="grid-divisoria-sub-content-ul">
            <ul>
                {% for ingredient in item.ingredients %}
                    <li>{{ingredient}}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="grid-divisoria-lista1">
            <p>Modo de preparo</p>
        </div>
        <div class="grid-divisoria-sub-content-lista1">
            <ul>
                {% for prepared in item.preparation %}
                    <li>{{prepared}}</li>
                {% endfor %}
            </ul>
        </div>

            <div class="grid-divisoria-lista1">
            <p>Informações adicionais</p>
        </div>
        <div class="grid-divisoria-sub-content-lista1">
            <p>{{item.information}}</p>
        </div>

    <script src="/scripts.js"></script>

    {# {% endfor %} #}

{% endblock %}
