{% extends "layoutFF.njk" %}

{% block content %}

<div class="grid-home-receita">
    
    <div class="grid-chef-receita">
        
    </div>
    
</div>

<div class="grid-divisoria-receita">
    <p>Triplo burger bacon</p>
</div>

<div class="grid-divisoria-sub-content-receita">
    <p>por Jorge Raleto</p>
</div>

    <div class="grid-divisoria-lista1">
        <p>Ingredientes</p>
    </div>

    <div class="rid-divisoria-sub-content-lista1">
        <ul>
            <li>3Kg de carne moída</li>
            <li>300 g de bacon</li>
        </ul>
    </div>

        <div class="grid-divisoria-lista1">
        <p>Informações adicionais</p>
    </div>

    <div class="rid-divisoria-sub-content-lista1">
        <p>Preaqueça a chapa, frigideira ou grelha por 10 minutos antes de levar os hambúrgueres. Adicione um pouquinho de óleo ou manteiga e não amasse os hambúrgueres! \n\n Você sabia que a receita que precede o hambúrguer surgiu no século XIII, na Europa? A ideia de moer a carne chegou em Hamburgo no século XVII, onde um açogueiro resolveu também temperá-la. Assim, a receita foi disseminada nos Estados Unidos por alemães da região. Lá surgiu a ideia de colocar o hambúrguer no meio do pão e adicionar outros ingredientes, como queijom tomates e alface.</p>
    </div>



<script src="/scripts.js"></script>

{% endblock %}
