{% extends "layoutFF.njk" %}

{% block content %}

    <div class="grid-divisoria-sobre">
        <p>Sobre o FoodFy</p>
    </div>

    <div class="grid-divisoria-content">
        <p>
            Com o dinheiro podemos comprar muitas coisas, mas não o essencial para nós. Proporciona-nos comida, mas não apetite; remédios, mas não saúde; dias alegres, mas não a felicidade. Henrik Ibsen 375 compartilhamentos Adicionar à coleçãoVer imagem O melhor tempero da comida é a fome.
        </p>

        <p>
            Cícero 183 compartilhamentos Adicionar à coleçãoVer imagem A maior vantagem da comida macrobiótica é que, por mais que você coma, por mais que encha o estômago, está sempre perfeitamente subalimentado. Millôr Fernandes 113 compartilhamentos Adicionar à coleçãoVer imagem Um pedaço de pão comido em paz é melhor do que um banquete comido com ansiedade.
        </p>
    </div>

    <div class="grid-divisoria-sub-content">
        <p>Como tudo começou...</p>
    </div>

    <div class="grid-divisoria-content">
        <p>
            Com o dinheiro podemos comprar muitas coisas, mas não o essencial para nós. Proporciona-nos comida, mas não apetite; remédios, mas não saúde; dias alegres, mas não a felicidade. Henrik Ibsen 375 compartilhamentos Adicionar à coleçãoVer imagem O melhor tempero da comida é a fome.
        </p>
        <p>
            Cícero 183 compartilhamentos Adicionar à coleçãoVer imagem A maior vantagem da comida macrobiótica é que, por mais que você coma, por mais que encha o estômago, está sempre perfeitamente subalimentado. Millôr Fernandes 113 compartilhamentos Adicionar à coleçãoVer imagem Um pedaço de pão comido em paz é melhor do que um banquete comido com ansiedade.
        </p>
    </div>

    <div class="grid-divisoria-sub-content">
        <p>Nossas receitas</p>
    </div>

    <div class="grid-divisoria-content">
        <p>
            Com o dinheiro podemos comprar muitas coisas, mas não o essencial para nós. Proporciona-nos comida, mas não apetite; remédios, mas não saúde; dias alegres, mas não a felicidade. Henrik Ibsen 375 compartilhamentos Adicionar à coleçãoVer imagem O melhor tempero da comida é a fome.
        </p>
    </div>

{% endblock %}
    <!-- <section class="layout">

        

    </section>
    
    <div class="footer">
        <p>Todos os direitos reservados, receitas FoodFy</p>
    </div>

</body>
</html> -->
