<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{% block head %}
		<title>Foodfy</title>
	{% endblock %}
	
	<link rel="icon" href="/favicon.png">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
	{% block styles %}        
		<link rel="stylesheet" href="/styles/main.css">
		<link rel="stylesheet" href="/styles/parts.css">
		<link rel="stylesheet" href="/styles/images.css">
		<link rel="stylesheet" href="/styles/search.css">
	{% endblock %}
</head>
<body>
	<div class="container">
		<!-- HEADER -->
		{% include 'visit/parts/header.html' %}
		
		<!-- CONTEÚDO -->
		{% block content %}{% endblock %}
	</div>

	<!-- FOOTER -->
	{% include 'visit/parts/footer.html' %}

	<script src="/scripts/scripts.js"></script>
	<script src="/scripts/uploadImageScripts.js"></script>
</body>
</html>